body {
  background: black url("../img/background.png");
}

.box {
  width:16px;
  height:310px;
  margin-left:-8px;
  margin-top:-155px;
  position:fixed;
  top:50%;
  left:50%;
}

#qrcode{
  background-color: #000;
  padding: 40px;
  width: 190px;
  height: 190px;
  display: inline-block;
}

.lightsaber {
  -webkit-perspective: 300; perspective: 300;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}