<ion-view title="About">
  <ion-content>
    <ion-list>
      <div class="card">
        <div class="item item-text-wrap" style="text-align: center;">
          Transforming a <a target="_blank" href="http://scotch.io/demos/pure-css3-star-wars-lightsaber-checkboxes">Scoth.io lightsaber</a> using CSS3, <a target="_blank" href="http://www.html5rocks.com/en/tutorials/device/orientation/">HTML5 device orientation</a>, NodeJS and <a target="_blank" href="http://socket.io/">Socket.IO</a>

          <div class="name">
            Made by <a target="_blank" href="https://twitter.com/TucciMatias">@TucciMatias</a>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
